* {
	padding: 0;
	margin: 0;
	user-select: none;
}

*:focus {
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-style: normal;
}
#dir_img {
	background-image: url(../image/dir.png);
	user-select: none;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#file_img {
	background-image: url(../image/file.png);
	user-select: none;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#result {
	position: absolute;
	overflow: auto;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 360px;
	background:rgba(176, 197, 235, 0.4);
	font-size: 12px;
	margin-left: 30px;
	padding-top: 5px;
	top: 50px;
	bottom: 50px;
	border-top: solid 1px #6699FF;
}

#result li div:hover {
	cursor: pointer;
	background:rgba(144, 167, 206, 0.7);
}

#result_li  div {
	height: 18px;
	width: 90%;
	display: inline-block;
	white-space: nowrap;
}

#result li img {
	float: left;
}

#title {
	position: absolute;
	user-select: none;
	height: 50px;
	width: 100%;
	background: #6699FF;
	color: white;
}

#title div {
	margin-top: 14px;
	font-size: 24px;
	float: left;
}

#title img {
	width: 185px;
	height: 36px;
	margin-left: 30px;
	margin-top: 8px;
	float: left;
}

#result_li ul {
	margin-left: 18px;
	list-style: none;
}

#tools {
	position: absolute;
	height: 45px;
	top: 55px;
	user-select: none;
	color: #306de7;
	left: 430px;
	vertical-align: text-bottom;
	display: none;
}
#show_text textarea {
	width:100%;
	height:100%;
	white-space: nowrap;
	background: #F7F7F7;
	border: solid 1px #306de7;
	font-size: 14px;
	resize: none;
}
#show_text  {
	position: absolute;
	left:430px;
	top: 100px;
	right:50px;
	bottom: 50px;
	display: none;
}

#show_img_div {
	position: absolute;
	right: 50px;
	top: 100px;
	left: 430px;
	bottom: 50px;
	display: none;
}

#welcome_div {
	position: absolute;
	right: 50px;
	top: 100px;
	display: block;
	font-size: 2.5vw;
	left: 430px;
	text-align: center;
	bottom: 50px;
	line-height: 50vh;
	background-image: url(../image/welcome.jpg);
	background-size: 100% 100%;
}

#show_img {
	width: 100%;
	height: 100%;
}

#right_click_menu {
	width: 120px;
	height: 100px;
	position: absolute;
	z-index: 1;
	border: 2px solid #dddddd;
	background: white;
	display: none;
}

#right_click_menu li {
	list-style: none;
	height: 25px;
	font-size: 12px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 20px;
}

#right_click_menu li:hover {
	background: rgba(98, 143, 221, 0.4);
}

#temp_li {
	cursor: text;
	border: 1px solid #bbb1b1;
	white-space: nowrap;
	height: 18px;
	width: 100%;
	background: white;
	margin-left:16px;
}

#temp_input {
	width: 50%;
	border: none;
}

#cancel_button {
	color: white;
	background: #e64e4e;
	width: 50px;
	height: 18px;
	border: none;
	float: right;
	cursor: pointer;
}

#ensure_button {
	cursor: pointer;
	color: white;
	background: green;
	width: 50px;
	height: 18px;
	border: none;
	float: right;
}

#right_click_menu_deletedir {
	border-top: 1px solid #dedede;
}

#down_file {
	position: absolute;
	display: none;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	width: 55px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 32px;
	background: url(../image/download.png);
	background-repeat: no-repeat;
	border: 1px solid #306de7;
	background-position: 8px 2px;
	border-radius: 5px;
}
#save_file {
	position: absolute;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	margin-left: 110px;
	width: 55px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 34px;
	background-image: url(../image/save.png);
	background-repeat: no-repeat;
	background-position: 8px 1px;
	border: 1px solid #306de7;
	border-radius: 5px;
	display: none;
}
#delete_file {
	position: absolute;
	display: none;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	margin-left: 223px;
	width: 90px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 28px;
	background: url(../image/delete.png);
	background-repeat: no-repeat;
	border: 1px solid #306de7;
	background-position: 4px 2px;
	border-radius: 5px;
}
