* {
	padding: 0;
	margin: 0;
	user-select: none;
	font-style: normal;
}

#dir_img {
	background-image: url(../image/dir.png);
	user-select: none;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#file_img {
	background-image: url(../image/file.png);
	user-select: none;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#result {
	position: absolute;
	overflow: auto;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 25%;
	top: 70px;
	font-size: 14px;
	margin-left: 50px;
	padding-top: 5px;
	margin-top: 70px;
	bottom: 50px;
	border-top: solid 1px black;
}

#result li div:hover {
	cursor: pointer;
	background: #d0d0d0;
}

#result li div {
	height: 18px;
	width: 100%;
	display: inline-block;
	white-space: nowrap;
}

#result li img {
	float: left;
}

#title {
	user-select: none;
	height: 70px;
	width: 100%;
	background: #6699FF;
	color: white;
}

#title div {
	margin-top: 18px;
	font-size: 34px;
	float: left;

}

#title img {
	width: 180px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

#tree {
	margin-left: 18px;
	list-style: none;
}

#tree ul {
	margin-left: 18px;
	list-style: none;
}

#tools {
	position: absolute;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	height: 45px;
	width: 56vw;
	float: right;
	user-select: none;
	color: #306de7;
	right: 80px;
	left: 38vw;
	vertical-align: text-bottom;
	display: none;
}


#show_text {
	width: 56vw;
	white-space: nowrap;
	overflow: auto;
	background: #F7F7F7;
	border: solid 1px black;
	font-size: 14px;
	resize: none;
	position: absolute;
	right: 80px;
	top: 135px;
	left: 38vw;
	bottom: 50px;
	display: none;
}

#show_img_div {
	position: absolute;
	right: 80px;
	top: 135px;
	left: 38vw;
	width: 56vw;
	bottom: 50px;
	display: none;
}

#welcome_div {
	position: absolute;
	right: 80px;
	top: 70px;
	margin-top: 65px;
	display: block;
	font-size: 2.5vw;
	left: 40vw;
	text-align: center;
	bottom: 50px;
	line-height: 50vh;
	background-image: url(../image/welcome.jpg);
	background-size: 100% 100%;
}

#show_img {
	width: 100%;
	height: 100%;
}

#save_file {
	position: absolute;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	margin-left: 125px;
	width: 55px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 36px;
	background-image: url(../image/save.png);
	background-repeat: no-repeat;
	background-position: 10px 1px;
	border: 1px solid #306de7;
	border-radius: 5px;
	display: none;
}

#right_click_menu {
	width: 120px;
	height: 100px;
	position: absolute;
	z-index: 1;
	border: 2px solid #dddddd;
	background: white;
	display: none;
}

#right_click_menu li {
	list-style: none;
	height: 25px;
	font-size: 12px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 20px;
}

#right_click_menu li:hover {
	background: #bbb1b1;
}

#temp_li {
	cursor: text;
	border: 1px solid #bbb1b1;
	white-space: nowrap;
	height: 18px;
	width: 100%;
}

#temp_input {
	width: 50%;
	border: none;
}

#cancel_button {
	color: white;
	background: #e64e4e;
	width: 50px;
	height: 18px;
	border: none;
	float: right;
	cursor: pointer;
}

#ensure_button {
	cursor: pointer;
	color: white;
	background: green;
	width: 50px;
	height: 18px;
	border: none;
	float: right;
}

#right_click_menu_deletedir {
	border-top: 1px solid #dedede;
}

#down_file {
	position: absolute;
	display: none;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	margin-left: 15px;
	width: 55px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 32px;
	background: url(../image/download.png);
	background-repeat: no-repeat;
	border: 1px solid #306de7;
	background-position: 10px 2px;
	border-radius: 5px;
}

#delete_file {
	position: absolute;
	display: none;
	margin-top: 5px;
	vertical-align: top;
	user-select: none;
	margin-left: 250px;
	width: 90px;
	height: 30px;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	float: left;
	padding-left: 40px;
	background: url(../image/delete.png);
	background-repeat: no-repeat;
	border: 1px solid #306de7;
	background-position: 10px 2px;
	border-radius: 5px;
}

*:focus {
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}